/* Create your test CSS here */

p {
  color: red;
  width: 50%;
}

h1 {
  color: cyan;
  background-color: black;
  width: 20%;
}

a:link {
  color: darkmagenta;
  font-size: 120%;
}

.manythings {
  color: firebrick;
  border: solid black;
  width: 10%;
}

#onething {
  color: darkorange;
}

* {
  color: cyan;
}

.box {
  color: darkblue;
}
