/* Create your test CSS here */

p {
  color: red;
  width: 50%;
}

h1 {
  color: cyan;
  /*background-color: black;*/
  width: 20%;
  background: red url(bg-graphic.png) 10px 10px repeat-x fixed;
}

a:link {
  color: darkmagenta;
  font-size: 120%;
}

.manythings {
  color: firebrick;
  border: solid black;
  width: 10%;
  transform: scale(1.5);
  background-image: linear-gradient(
    rgba(0, 0, 255, 0.5),
    rgba(255, 255, 0, 0.5)
  );
}

#onething {
  color: darkorange;
}

* {
  color: cyan;
}

.box {
  color: darkblue;
}

body {
  background-color: pink;
}

@media (min-width: 30%) {
  body {
    background-color: blue;
  }
}
